/*.iml
/*.md
/*example.json
/.dockerignore
/.git/
/.github/
/.gitignore
/.idea
/bandit.yml
/credentials.json
/docker-compose*.yml
/Dockerfile*
/docs/
/ec-config*.yaml
/mocks/
/terraform/input.auto.tfvars
/terraform/input.tfvars
/tests/
/venv/
