/*.iml
/*.tfstate
/*.md
/*example.json
/.dockerignore
/.git/
/.github/
/.gitignore
/.idea
/bandit.yml
/credentials.json
/docker-compose*.yml
/Dockerfile*
/docs/
/ec-config*.yaml
/terraform/input.auto.tfvars
/terraform/input.tfvars
/gcpdac_tests/
/venv/
/terraform/solution_creation/input.auto.tfvars
